@page
@model Web.Pages.Products.IndexModel
@{
    ViewData["Title"] = "Products";
}

<h1>@ViewData["Title"]</h1>

<a href="./Products/Create">Create Product</a>

<ul>
    @foreach (var product in Model.Products)
    {
        <li>@product.Name - @product.Price</li>
    }
</ul>